---
import Logo from "../components/Logo.astro";
---

<header
  id="landing-header"
  class={`
  py-4
  px-10
  flex
  items-center 
  justify-between 
  fixed 
  top-0
  w-full
  z-40
  text-white
  `}
>
  <div class="flex flex-grow basis-0 justify-start">
    <a href="#main"><Logo /></a>
  </div>
  <nav class="flex flex-grow justify-center">
    <ul
      class={`
      text-md 
      font-bold 
      flex 
      [&>li>a]:transition-colors [&>li>a]:duration-500
      [&>li>a]:text-current 
      [&>li>a]:py-2 
      [&>li>a]:px-2
      [&>li>a]:inline-block 
      [&>li>a]:font-medium 
      `}
    >
      <li><a href="#modelS">Model S</a></li>
      <li><a href="#model3">Model 3</a></li>
      <li><a href="#modelX">Model X</a></li>
      <li><a href="#modelY">Model Y</a></li>
      <li><a href="#solar-roof">Solar Roof</a></li>
      <li><a href="#solar-panels">Solar Panels</a></li>
      <li><a href="#powerwall">Powerwall</a></li>
    </ul>
  </nav>
  <nav class="flex flex-grow justify-end basis-0">
    <ul
      class={`
      text-sm 
      flex 
      [&>li>a]:transition-colors [&>li>a]:duration-500
      [&>li>a]:py-2 
      [&>li>a]:px-2
      [&>li>a]:inline-block 
      [&>li>a]:font-medium
      `}
    >
      <li><a href="#shop">Shop</a></li>
      <li><a href="#">Account</a></li>
      <li><a href="#">Menu</a></li>
    </ul>
  </nav>

  <div
    id="menu-backdrop"
    class={`
    absolute
    bg-black/5
    backdrop-blur-lg
    rounded
    translate-x-[var(--left)] translate-y-[var(--top)]
    left-0 top-0
    w-[var(--width)] h-[var(--height)]
    transition-all duration-400 ease-in-out delay-100
    opacity-0
    -z-10
    `}
  >
  </div>
  <script>
    const listItem = document.querySelectorAll("#landing-header li");
    const menuBackdrop = document.querySelector("#menu-backdrop");

    listItem.forEach((item) => {
      item.addEventListener("mouseenter", () => {
        const { left, top, width, height } = item.getBoundingClientRect();
        menuBackdrop.style.setProperty("--left", `${left}px`);
        menuBackdrop.style.setProperty("--top", `${top}px`);
        menuBackdrop.style.setProperty("--width", `${width}px`);
        menuBackdrop.style.setProperty("--height", `${height}px`);
        menuBackdrop.style.opacity = "1";
        menuBackdrop.style.visibility = "visible";
      });
      item.addEventListener("mouseleave", ({ target }) => {
        menuBackdrop.style.opacity = "0";
        menuBackdrop.style.visibility = "didden";
      });
    });
  </script>
  <script>
    const header = document.querySelector("#landing-header");
    const observerOptions = {
      root: null,
      rootMargin: "0px",
      threshold: 0.9,
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        const { isIntersecting } = entry;
        if (isIntersecting) {
          const dataColor = entry.target.getAttribute("data-header-color");
          header.style.color = dataColor;
        }
      });
    }, observerOptions);

    const sections = document.querySelectorAll(".landing-section");
    sections.forEach((section) => observer.observe(section));
  </script>
</header>
