<div
  class={`
        z-30
        px-[30vw]
        `}
>
  <ul
    class={`
           text-gray-800 
           pb-8
           text-xs
           flex 
           justify-around
           gap-0.5
          `}
  >
    <li>Tesla @ 2023</li>
    <li>Privacy & Legal</li>
    <li>Vehicle Recalls</li>
    <li>Contact</li>
    <li>News</li>
    <li>Get Updates</li>
    <li>Locations</li>
  </ul>
</div>
