---
import Section from "./Section.astro";
---

<Section
  id="modelX"
  title="Model X"
  subtitles={["Explore Inventory"]}
  color="black"
>
  <div slot="footer" class="flex gap-x-4 justify-center pb-20">
    <a
      href="#"
      class={`
         bg-white/50
         rounded
         text-gray-800
         font-medium 
         text-sm
         px-24 
         py-2
         inline-block
         `}
    >
      Custom Order
    </a>
    <a
      href="#"
      class={`
             bg-black/60
               rounded
               font-medium
               text-sm
               px-24
               py-2
               inline-block 
             text-white
            `}
    >
      Demo Drive
    </a>
  </div>
  <img
    slot="background"
    src="/Model-X-Global-Desktop.avif"
    alt="TESLA Model Y"
    class="h-full w-full object-cover"
  />
</Section>
