---
import Section from "./Section.astro";
---

<Section
  title="Model Y"
  subtitles={["Starting at $40,240", "After Federal Tax Credit"]}
  color="black"
>
  <div slot="footer" class="flex gap-x-4 justify-center">
    <a
      href="#"
      class={`
         bg-white/50
         border 
         rounded
         text-gray-800
         font-medium 
         text-sm
         px-24 
         py-2
         inline-block
         `}
    >
      Explore Inventory
    </a>
    <a
      href="#"
      class={`
             bg-black/60
               border
               rounded
               font-medium
               text-sm
               px-24
               py-2
               inline-block 
             text-white
            `}
    >
      Custom Order
    </a>
  </div>
  <img
    slot="background"
    src="/Model-Y-Global-Desktop.avif"
    alt="TESLA Model Y"
    class="h-full w-full object-cover"
  />
</Section>
