---
import Section from "./Section.astro";
---

<Section id="powerwall" title="Powerwall" subtitles={[""]} color="black">
  <div slot="footer" class="flex gap-x-4 justify-center pb-20">
    <a
      href="#"
      class={`
         bg-white/50
         rounded
         text-gray-800
         font-medium 
         text-sm
         px-24 
         py-2
         inline-block
         `}
    >
      Order Now
    </a>
    <a
      href="#"
      class={`
             bg-black/60
               rounded
               font-medium
               text-sm
               px-24
               py-2
               inline-block 
             text-white
            `}
    >
      Learn More
    </a>
  </div>
  <img
    slot="background"
    src="/Powerwall-Desktop.avif"
    alt="TESLA Model Y"
    class="h-full w-full object-cover"
  />
</Section>
